/*** FOOTER ***/

footer{
	max-width: 320px;
	margin: auto;
	height: 3em;
	border: 1px solid black;
	border-radius: 10px;
	padding: 1em 1em 1em 2.5em;	
}
.hoger{
	float: right;
	text-align: left;
	margin-top: 0.5em;
}
.vanster{
	float: left;
	text-align: right;
	border-right: 1px solid black;
	padding-right: 11px;
	height: 3em;
	position: relative;
}
.copy{
	position: absolute;
	right: 170px;
	font-size: 2.3em;
}

/*** SPECIAL LÄNKNING PÅ SISTA SIDAN ***/
.skaffa footer hr{
	position: relative;
	top: 3em;
	left: -60%;
	width: 110%;
	color: black;
	height: 1px;
}