/*** FOOTER ***/

footer {
	margin: 30px auto;
	max-width: 60%;
	height: 2.5em;
}
.vanster {
	float: left;
	width: 31.5%;
	text-align: right;
	margin-right: 10px;
}
.mitten {
	float: left;
	border-right: 1px solid black;
	width: 20%;
	text-align: left;
	padding: 2px 2px 2px 0;
}
.hoger {
	float: right;
	width: 46%;
	text-align: left;
	padding-top: 9px;
}
.copy {
	font-size: 2em;
}