/*
-----GLOBAL-----
*/
body {
	background-color: #c8c8c0;
}
/***
  CENTER TEXT
***/


.content{
	max-width: 80%;
	margin: 0 auto 15px auto;
	padding: 0 20px;
	overflow: auto;
}
.left{
	width: 48%;
	float: left;
}
.right{
	width: 48%;
	text-align: right;
	float: right;
}
h1, h2{
	text-align: center;
}
h2{
	padding-bottom: 22px;
}

/***
  NAV
***/

nav ul{
	max-width: 60%;
	margin: 15px auto;
	clear: both;
	text-align: center;
}
nav li{
	display: inline;
	padding: 10px;
}
nav a{
	text-decoration: none;
}
nav li:last-of-type{
	padding-left: 15px;
}
nav li:first-of-type{
	padding: 15px;
}
nav li.active{
	grow: 20%
}
.special {
	padding-bottom: 4px;
}

/***
  BUTTON
***/

.middle-button{
	position: absolute;
	left: 47%;
	z-index: +15;
	top: 121px;
}

.hr {
	max-width: 60%;
	margin: 0 auto;
}


/*** PILAR - FRAM OCH TILLBAKA ***/

.link {
  position: absolute;
  top: 40%;
}
.ett {
  left: 10%;
}
.tva {
  left: 80%;
}
.pilar {
  max-width: 80%;
  margin: 0 auto;
}
.content {
  max-width: 70%;
}

/*** FOOTER ***/



/*** STILGUIDE ***/
.stilguide {
	max-width: 50%;
	margin: 0 auto;
}
.color {
	overflow: auto;
}
.grey, .vit, .svart {
	float: left;
	text-align: center;
	margin: 0 auto;
	padding-right: 20px;
}
.grey > img {
	border: 1px solid black;
}
.bilder > p {
	float: left;
	max-width: 70px;
}
.bilder > p:last-of-type {
	padding-left: 10px;
	text-align: right;
}


/*** BRYTPUNKTER ***/

@media only screen and (max-width: 900px) {
	/*** CENTER TEXT ***/
	
	.left, .right {
		float: none;
		width: 100%;
	}
	.right {
		text-align: left;
	}
	.content {
		margin: 0 auto;
		max-width: 60%;
		padding-top: 10px;
	}
	hr{
		max-width: 100%;
	}
}