ul {
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
	margin: 0 auto;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}
.content{
	max-width: 60%;
	margin: auto;
}
.left{
	width: 48%;
	float: left;
}
.right{
	width: 48%;
	text-align: right;
	float: right;
}
.middle{
  position: fixed;
	top: 38%;
}
hr{
	max-width: 60%;
}
h1, h2{
	text-align: center;
}