/*
-----GLOBAL-----
*/
body {
	background-color: #c8c8c0;
}
/***
  CENTER TEXT
***/


.content{
	max-width: 80%;
	margin: 0 auto 15px auto;
	padding: 0 20px;
	overflow: auto;
}
.left{
	width: 48%;
	float: left;
}
.right{
	width: 48%;
	text-align: right;
	float: right;
}
h1, h2{
	text-align: center;
}
h2{
	padding-bottom: 22px;
}
.annorlunda {
	margin: 0 auto;
	max-width: 60%;
}

/***
  NAV
***/

nav ul{
	max-width: 60%;
	margin: 15px auto;
	clear: both;
	text-align: center;
}
nav li{
	display: inline;
	padding: 10px;
}
nav a{
	text-decoration: none;
}
nav li:last-of-type{
	padding-left: 15px;
}
nav li:first-of-type{
	padding: 15px;
}
/*nav li.navItemActive{
	padding: 10px;
	background-color: red;
}*/
.special {
	padding-bottom: 5px;
}

/***
  BUTTON
***/

.middle-button{
	position: absolute;
	left: 48.3%;
	z-index: +15;
	top: 121px;
}

.hr {
	max-width: 60%;
	margin: 0 auto;
}


/*** LADDA-NER KNAPP ***/
.button {
	background: black;
	padding: 10px 18px;;
	color: white;
	text-decoration: none;
	border-radius: 10px;
}
.button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.button:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.button:hover, .button:focus, .button:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.button:hover:before, .button:focus:before, .button:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/*** PILAR - FRAM OCH TILLBAKA ***/

.link {
  position: absolute;
  top: 40%;
}
.ett {
  left: 10%;
}
.tva {
  left: 80%;
}
.pilar {
  max-width: 80%;
  margin: 0 auto;
}
.content {
  max-width: 70%;
}

/*** STILGUIDE ***/
.stilguide {
	max-width: 50%;
	margin: 0 auto;
}
.color {
	overflow: auto;
}
.grey, .vit, .svart {
	float: left;
	text-align: center;
	margin: 0 auto;
	padding-right: 20px;
}
.grey > img {
	border: 1px solid black;
}
.bilder > p {
	float: left;
	max-width: 70px;
}
.bilder > p:last-of-type {
	padding-left: 10px;
	text-align: right;
}


/*** BRYTPUNKTER ***/

@media only screen and (max-width: 900px) {
	/*** CENTER TEXT ***/
	
	.left, .right {
		float: none;
		width: 100%;
	}
	.right {
		text-align: left;
	}
	.content {
		margin: 0 auto;
		max-width: 60%;
		padding-top: 10px;
	}
	hr{
		max-width: 100%;
	}
}