/*
-----GLOBAL-----
*/

/***CENTER TEXT***/

.content{
	max-width: 60%;
	margin: auto;
}
.left{
	width: 48%;
	float: left;
}
.right{
	width: 48%;
	text-align: right;
	float: right;
}
hr{
	max-width: 60%;
}
h1, h2{
	text-align: center;
}

/***NAV***/

nav ul{
	max-width: 60%;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
nav li{
	display: inline;
	padding: 10px;
}
nav a{
	text-decoration: none;
}
nav li:last-of-type{
	padding-left: 15px;
}
nav li:first-of-type{
	padding: 15px;
}
nav li.active{
	grow: 20%
}

/***BUTTON***/

.middle-button{
	clear: both;
	position: static;
	right: 500px;
	z-index: +15;
}
