/*
-----GLOBAL-----
*/
body {
	background-color: #c8c8c0;
}
/***
  CENTER TEXT
***/


.content{
	max-width: 60%;
	margin: 0 auto 15px auto;
	padding: 0 20px;
	overflow: auto;
}
.left{
	width: 48%;
	float: left;
}
.right{
	width: 48%;
	text-align: right;
	float: right;
}
h1, h2{
	text-align: center;
}
h2{
	padding-bottom: 22px;
}

/***
  NAV
***/

nav ul{
	max-width: 60%;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
nav li{
	display: inline;
	padding: 10px;
}
nav a{
	text-decoration: none;
}
nav li:last-of-type{
	padding-left: 15px;
}
nav li:first-of-type{
	padding: 15px;
}
nav li.active{
	grow: 20%
}
.special {
	padding-bottom: 3px;
}

/***
  BUTTON
***/

.middle-button{
	position: absolute;
	left: 47%;
	z-index: +15;
	top: 121px;
}

.hr {
	max-width: 60%;
	margin: 0 auto;
}


/*** PILAR - FRAM OCH TILLBAKA ***/

.link {
  position: absolute;
  top: 50%;
}
.ett {
  left: 10%;
}
.tva {
  left: 80%;
}
.pilar {
  max-width: 80%;
  margin: 0 auto;
}
.content {
  max-width: 70%;
}

/*** FOOTER ***/

footer {
	margin: 30px auto;
	max-width: 60%;
	height: 2.5em;
}
.vanster {
	float: left;
	width: 31.5%;
	text-align: right;
	margin-right: 10px;
}
.mitten {
	float: left;
	border-right: 1px solid black;
	width: 20%;
	text-align: left;
	padding: 2px 2px 2px 0;
}
.hoger {
	float: right;
	width: 46%;
	text-align: left;
	padding-top: 9px;
}
.copy {
	font-size: 2em;
}


/*** BRYTPUNKTER ***/

@media only screen and (max-width: 1000px) {
	/*** CENTER TEXT ***/
	
	.left, .right {
		float: none;
		width: 100%;
	}
	.right {
		text-align: left;
	}
	.content {
		margin: 0 auto;
		max-width: 60%;
	}
}